[flake8]
ignore = A005, I100, I201
exclude =
    **/migrations/*,
    .git,
    .mypy_cache,
    __pycache__,
    venv,
    settings.dev.py,
    ./local,
filename = *.py
accept-encodings = utf-8
per-file-ignores =
    */__init__.py: F401,
    backend/core/settings/templates/settings.dev.py:F821,E501
    backend/core/settings/*.py:E501, F821
    backend/manage.py:E501,
    */admin.py: F401,
