{% extends "querygenerator/layout.html" %}

{% block title %}
Register
{% endblock title %}

{% block body %}
<section class="container d-flex justify-content-center align-items-center">
    <div class="border-radius-15 pt-3 px-3 px-lg-5 bg-white">
        <div>
            <h2 class="text-center text-danger">Register</h2>
        </div>
        {% if register_form.errors %}
        <div class="d-flex justify-content-center align-items-center">
            <div class="alert alert-danger mx-auto my-1" role="alert">
                {% for field in register_form %}
                    {% if field.errors %}
                        <div>
                            {% for error in field.errors %}
                                {{ error }}
                                <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in register_form %}
                    <div class="my-3 d-flex justify-content-center align-items-center">
                        {{ field }}
                    </div>
                {% endfor %}
                <div id="register-button-div" class="mx-auto d-flex justify-content-center align-items-center">
                    <button class="w-100 btn btn-danger" type="submit">Register</button>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <p class="mt-2">Have an Account? 
                        <a class="text-decoration-none" href="{% url 'querygenerator:login' %}">Login Here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock body %}
